/contrastes.aux
/curso_estadistica.aux
/curso_estadistica.dvi
/curso_estadistica.log
/curso_estadistica.nav
/curso_estadistica.out
/curso_estadistica.ps
/curso_estadistica.snm
/curso_estadistica.toc
/descriptiva.aux
/estimacion.aux
/introduccion.aux
/probabilidad.aux
/regresion.aux
/variables_aleatorias.aux
